@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ffamily/ProximaNova-Light.eot');
    src: url('ffamily/Proxima Nova Light'), url('ffamily/ProximaNova-Light'),
        url('ffamily/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('ffamily/ProximaNova-Light.woff2') format('woff2'),
        url('ffamily/ProximaNova-Light.woff') format('woff'),
        url('ffamily/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ffamily/ProximaNova-RegularIt.eot');
    src: url('ffamily/Proxima Nova Regular'), url('ProximaNova-Regular'),
        url('ffamily/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('ffamily/ProximaNova-Regular.woff2') format('woff2'),
        url('ffamily/ProximaNova-Regular.woff') format('woff'),
        url('ffamily/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Proxima Nova RgBold';
    src: url('ffamily/ProximaNova-Bold.eot');
    src: url('ffamily/Proxima Nova Bold'), url('ffamily/ProximaNova-Bold'),
        url('ffamily/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('ffamily/ProximaNova-Bold.woff2') format('woff2'),
        url('ffamily/ProximaNova-Bold.woff') format('woff'),
        url('ffamily/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('ffamily/ProximaNova-Semibold.eot');
    src: url('ffamily/Proxima Nova Semibold'), url('ProximaNova-Semibold'),
        url('ffamily/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ffamily/ProximaNova-Semibold.woff2') format('woff2'),
        url('ffamily/ProximaNova-Semibold.woff') format('woff'),
        url('ffamily/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ffamily/ProximaNova-Extrabld.eot');
    src: local('ffamily/Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
        url('ffamily/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('ffamily/ProximaNova-Extrabld.woff2') format('woff2'),
        url('ffamily/ProximaNova-Extrabld.woff') format('woff'),
        url('ffamily/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@keyframes triangleanim {
    0% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    40% {
        opacity: 100%;
    }

}
html {
    min-width: 350px;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    /* cursor: url("minicursor.svg") 23 26, auto; */
}

.bigbtntext {
    position: relative;
    font-family: 'Proxima Nova RgBold';
    font-size: 1.40625vw;
    color: #e63338;
    letter-spacing: 3.6px;
    white-space: nowrap;
}

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 2%;
    background-color: #FEF8F2;
    cursor: url("cursor.svg") 23 26, auto;
}

html {
    max-width: 100%;
}


.bodytwo {
    display: flex;
}

.saletext {
    font-family: 'Proxima Nova Rg';
    font-size: 0.9895833333333333vw;
    height: 1.40625vw;
}

.saletextsizes {
    height:  80%;
    display: flex;
    flex-direction: column;
    
}

.sale {
    position: relative;
    display: flex;
    margin-left: 5%;
}

.miniicons {
    display: none;
    margin-bottom: 9.8%;
}

.costandtext {
    position: relative;
    display: flex;
    align-items: center;
}

.salesymbol {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 24px;
}

.redcost {
    position: relative;
    color: #e63338;
}

.redcost::before {
    content: '';
    position:absolute;
    height: 3px;
    width: 70.2px;
    top: 45%;
    background-color: red;
}

.bigbtnsizes {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

.articketcost {
    font-family: 'Proxima Nova RgBold';
    font-size: 1.5625vw;
    letter-spacing: 0.2083333333333333vw;
}

.mainbody {
    width: 95%;
    height: 100%;
    margin-top: 2vh;
}

.leftbar, .rightbar {
    width: 5%;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: mixed;   
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.leftbar {
    top: 10vh;
}

.rightbar {
    bottom: 10vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.wrapnav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2px;
    padding-right: 3px;
}

.wrapnavitem {
    position: relative;
    text-align: left;
    margin-right: calc(1vw * 2.34375);
    font-size: calc(1vw * 8854166666666667 / 10000000000000000);
    font-style: normal;
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    line-height: 1;
    letter-spacing: calc(1vw*0.1041666666666667);
    padding-top: calc(1vw * 3125/10000);
    padding-bottom: calc(1vw * 3125/10000 / 2);

}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0 10.9199999999% 0 0;
    align-items: center;
    margin-bottom: 9.8%;
}



.icons > icon {
    display: flex;
    align-items: center;
}


.sectiontwoimgwrapper:hover > img {
    transform: scale(1.25);
    transition: transform .5s;
    filter: invert(0%) sepia(0%) saturate(40%) hue-rotate(0deg) brightness(100%) contrast(120%);
}


icon > img {
    height: 2.604166666666667vw;
    min-height: 50px;
}

.bigbtnbigdivs {
    position: absolute;
    height: 200%;
    background-color: #e63338;
    width: 100%;
    top: 45%;
}

.asd {
}


.bigbtndivscontainer{
    width: 100%;
    height: 100%;
    position: relative;
    transition: top .5s;
    top: 200%;
}

.bleft {
    right: 40%;
    transform: rotate(
-226deg);
}

.bigbtnwave {
    width: 100%;
    height: 100%;
    background-color: #e63338;
}

.bright {
    left: 40%;
    transform: rotate(
226deg);
}

.mimgdiv {
    width: calc(100% - 46.91957605985037vw);
}

.bigbtnhover {
    width: 100%;
    height: 100%;
}




.icontext {
    font-size: 15px;
    padding-left: 20px;
    font-family: 'Proxima Nova Rg';
    line-height: 1.8;
}

.forbigbtnhover {
    width: 100%; height: 100%;
}


.header {
    
    position: fixed;
    width: 100%;
    padding: 20px 2%;
    box-sizing: border-box;
    z-index: 100;
    background-color: #fef8f2;
    transition: padding .5s;
}

.icons > .iconfirst {
    padding-left: 0px;

}

.mainpicture {
    width: 109.3%;
    box-sizing: border-box;
    display: block;
    position: relative;
    left: -1.2%;
}

.mainimgdiv {
    flex: 1;
}

.firstsectionitems {
    display: flex;
}

.firstsectionleft { 
    display: flex;
    flex-direction: column;
    width: 46.91957605985037vw;
}

.sitecont {
    position: relative;
    height: auto;
}


.logoimg {
    width: calc(1vw * 8333333333333333/1000000000000000);
    height: calc(1vw * 3125/1000);
    min-width: 160px;
    min-height: calc(6014px / 100);
}

.secondbody {
    position: relative;
    padding: calc(1vw * 11.125) 0% calc(1vw * 3.125) 0;
    padding-left: 8%;
}

.headermini {
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondheadermini {
    padding-top: calc(1vw * 0.5208333333333333);
    padding-bottom: calc(1vw * 0.5208333333333333);
}

.maintitle {  
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-size: 4.583333304vw;
    letter-spacing: 1.249999992vw;
    line-height: 1.15;
    margin-bottom: 7.5%;
}

.sidebar {
    white-space: nowrap;
    font-family: 'Proxima Nova Rg';
    position: fixed;
    font-size: calc(1vw * 0.8463541666666667);
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
    transform: rotate(-180deg);
    writing-mode: vertical-lr; /* Вертикальный режим */
    text-orientation: mixed;
    height: auto;
    width: 18px;
}



.buyyourarticket {
    border: 2px solid #e63338;
    font-size: calc(1vw * 0.9375);
    font-family: 'Proxima Nova Semibold';
    position: relative;
    left: 3px;
    bottom: 1px;
    padding: calc(1vw * 0.4166666666666667) calc(1vw * 0.8333333333333333) calc(1vw * 0.4166666666666667);
    color: #e63338;
    transition: color 100s ease;
}

.dflex {
    display: flex;
}

.icon {
    width: 0;
    height: 0;
    position: relative;
    top: calc(1em * 0.1);
    left: calc(1em * 0.2);
    border-left: calc(1vw * 7/19.2) solid transparent;
    border-right: calc(1vw * 7/19.2) solid transparent;
    border-top: calc(1vw * 10/19.2) solid #e63338;
}



.forwaveanim, .bigforwaveanim {
    position: absolute;
    height: 150%;
    width: 100%;
    min-width: 212.6px;
    left: 0;
    top: 100%;
    transition: 0.5s ease;
}

.bigforwaveanim {
    width: calc(100% + 4px);
    transform: translateX(-2px);
}

.triangles {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}




.bigtriangle {
    width: 0;
    height: 0;
    /* border-left: calc(11.07287870900573 * 1vw / 4) solid transparent;
    border-right: calc(11.07287870900573 * 1vw / 4) solid transparent; */
    border-bottom: calc(1vw * 1.5625) solid #e63338;
}

.triangle {
    width: 0;
    height: 0;
    /* border-left: calc(11.07287870900573 * 1vw / 4) solid transparent;
    border-right: calc(11.07287870900573 * 1vw / 4) solid transparent; */
    border-bottom: calc(1vw * 1.5625) solid #e63338;
    
}



.wavewater {
    width: 100%;
    height: calc(1vw * 2125/1000);
    height: 200%;
    background-color: #e63338;
}

.buyartickettext {
    transition: color 0.5s ease;
}

.burger {
    position: relative;
    top: 15px;
    display: none;
    margin-right: 4%;
    height: 26px;
}

.line {
    line-height: 0%;
    position: relative;
    height: 4px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    transition: .2s;
}

.howitworkstext {
    text-align: center;
    margin-top: 12%;
}

.line::after, .line::before {
    content: '';
    height: 4px;
    border-radius: 3px;
    width: 25px;
    background-color: black;
    position: absolute;
    transition: .2s;
}

.line::before {
    bottom: 8.5px;
}

.lineneighbour {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateY(-11px);
    cursor: pointer;
}

.line::after {
    top: 8.5px;
    left: 0.3px;
}

.clickedburger {
    background-color: transparent;
    position: relative;
    right: 4px;
    
}

.clickedburger::before {
    transform-origin: right;
    transform: rotate(-45deg);
    transition: transform .2s;
    
}

.clickedburger::after {
    transform-origin: right;
    transition: transform .2s;
    transform: rotate(45deg)
}

.articketcontainer {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.animwrapper {
    position: absolute;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    right: 0;
    bottom: 0;
    top: -1px;
    left: -1px;
    overflow: hidden;
    cursor: pointer;

}

.artickethover:hover > .bigbtntextdiv > .bigbtntext {
    color: white;
    transition: .5s;
}

.triangleright {
    border-left: calc(2083 / 1000 * 1vw) solid transparent;
    border-right: calc(3.4375 * 1vw) solid transparent;
}

.triangleleft {
    border-right: calc(2083 / 1000 * 1vw) solid transparent;
    border-left: calc(3.4375 * 1vw) solid transparent;
}



/* .animwrapper:hover > .forwaveanim */
.artickethover:hover > .animwrapper> .forwaveanim
{
    top: calc(-1vw * 1.5625);
    top: 50%;
    transition: top 0.55s ease;
}

.artickethover:hover > .articketcontainer > .buyartickettext 
{
    color: white;
}


.languagecontainer {
    overflow: hidden;
    position: absolute;
    height: 0px;
    opacity: 0%;
    transition: opacity 0.3s , height .5s ease;
}

.langbetstext {
    position: relative;
}

.sectionleft {
    font-weight: 800;
    font-size: 4.583333304vw;
    letter-spacing: 1.249999992vw;
    line-height: 1.15;
    margin-bottom: 7.5%;
}

.bigbtn {
    width: 100%;
    text-align: center;
}

.mainbtn {
    position: relative;
    padding: 3.1001% 3.95%;
    border: 2px solid #e63338;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mainbtn:hover > .artickethover > .animwrapper > .redbigbutton {
    left: 0;
    bottom:0;
}

.redbigbutton {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;
    bottom:100%;
    background: #e63338;
    transition: .5s;
}

.bigbtnwrapper {
    display: flex;
} 

.wrapnavitem:hover::before, .langbetatext:hover::before {
    content: '';
    width: 100%;
    height: calc(1vw / 19.2);
    min-height: 2px;
    background-color: #e63338;
    display: block;
    position: absolute;
    bottom: 0;
    top: 100%;
}

.langbeta {
    position: relative;
    top: calc(1vw * 0.6315789473684211);
}

.langbetatext:hover::before {
    top: 20px;
}

.left {
    bottom: 4vh;
    left: 1.5vw;
}



.right {
    top: 21vh;
    right: 21px;
}

.secondbody::before {
    content: '';
    top: 0;
    left: 49.5vw;
    top: 53.9vw;
    position: absolute;
    border-left: 0.6770833333333333vw solid transparent;
    border-right: 0.6770833333333333vw solid transparent;
    border-top: 0.9375vw solid #e63338;
    cursor: pointer;

    animation: triangleanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.languagenavitem:hover::before {
    width: 60%;
}


.languageswrapper {
    position: absolute;
    height: calc(16.8px * 6 + 5 * 10px);
    width: 100%;
}

.fornavitemhover:hover + .languagecontainer, .languagecontainer:hover {
    height: calc(1vw * 150/19.2);
    opacity: 100%;  
}

.sectiontwotitle {
    font-family: 'Proxima Nova Th';
    font-size: calc(42vw/19.2);
    letter-spacing: calc(16vw/19.2);
    margin-bottom: calc(100vw/19.2);
    line-height: 1;
    text-align: center;
}

.sectiontwo {
    padding: 6% 8% 0% 0%;
}

.sectiontwoimgwrapper {
    width: 100%;
    height: 17.35955882352941vw;
    overflow: hidden;
    position: relative;
}

.sectiontwoline {
    display: flex;
    justify-content: space-between;
}

.sectiontwoimgwrapper > img {
    width: 100%;
    height: 100%;
    transition: transform .5s;
}

.sectiontwotextsitemswrapper {
    padding: 0 3%;
}

.sectiontwoitem > .sectiontwotextsitemswrapper > p, .sectionthreedescrib {
    font-family: 'Proxima Nova Rg';
    line-height: 1.5;
    font-size: 1vw;

}

.faqtext > h4 {
    font-family: 'Proxima Nova SemiBold';
    font-size: 21px;
    letter-spacing: 2.1px;
    font-size: 1.09375vw;
    letter-spacing: 0.109375vw;
}

.guidetitle {
    font-family: 'Proxima Nova Th';
    font-size: calc(27vw/19.2);
    line-height: 1.5;
    color: #dc3d43;
}

.guidnum {
    font-family: 'Proxima Nova Rg';
    font-weight: 600;
    font-size: calc(20vw/19.2);
    margin-bottom: 6%;
}

.howitworksguide {
    display: flex;
    justify-content: space-between;
}

.guidewrapper {
    width: 25%;
}

.guideimage > img + img {
    width: 10%;
    margin-left: 14%;
}

.guideimage {
    display: flex;
    margin-bottom: 6%;
    height: 5vw;
}

.sectiontwoitem > .sectiontwotextsitemswrapper > h3 {
    font-family: 'Proxima Nova Th';
    letter-spacing: calc(4vw/19.2);
    color: #dc3d43;
    line-height: 1.5;
    font-size: calc(24vw/19.2);
    margin: 4% 0;
    margin-top: 6%;
}

.faqimages > img {
    width: calc(659.8vw/19.7);
}

.faqimages {
    margin-top: 10%;
    display: flex;
    width: calc(4 * 659.8vw/19.7 + 20vw);
    justify-content: space-between;
}

.sectionthreedescrib {
    margin: 3% 0;
}

.sectiontwoitem {
    width: 31%;
    overflow: hidden;
    margin-bottom: 8%;
}

.lastsectiontwoline {
    display: none;
}

.changeleft {
    left: -100%;
   
}

.mainbtntwo {
    padding: 2%;
    display: inline-block;
}

.sectionthreetitle {  
    font-family: 'Proxima Nova Th';
    font-size: 3.4375vw;
    letter-spacing: 0.72916vw;
    line-height: 1.15;
}

.faqtext {
    display: flex;
}

.faqtext > img {
    margin-left: 1%;
}

.faqtext {
    margin-top: 3%;
}

.mainbtn3 {
    font-family: 'Proxima Nova Th';
    font-size: calc(27vw/19.2);
    letter-spacing: calc(3.6vw/19.2);
}

.mainbtn3container {
    padding: calc(19vw/19.2) calc(40vw/19.2);
}

@media (max-width:1920px) {
    .sectionthreetitle{
        font-size: 66px;
        letter-spacing: 14px;
    }

    .guidetitle {
        font-size: 27px;
    }

    .guidnum {
        font-size: 20px;
    }

    .sectiontwotitle {
        font-size: 42px;
        letter-spacing: 16px;
    }

    .faqtext > h4 {
        font-size: 21px;
        letter-spacing: 2.1px;
    }

    .sectiontwoitem > .sectiontwotextsitemswrapper > h3 {
        letter-spacing: 4px;
        font-size: 24px;
    }

    .scetiontwotitle {
        font-size: 42px;
        letter-spacing: 16px;
        margin-bottom: 100px;
    }

    .sectiontwoitem > .sectiontwotextsitemswrapper > p, .sectionthreedescrib {
        font-size: 19px; 
    }

    .buyyourarticket {
        font-size: 18px;
        padding: calc(90px/10) 16px calc(80px/10);
    }
    
    .secondbody::before {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 18px solid #e63338
    }

    .sale::before{
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 18px solid #e63338;
    }

    .articketcost {
        font-size: 30px;
        letter-spacing: 4px;
    }

    .saletext {
        font-size: 19px;
        height: 27px;
    }

    .bigbtntext {
        font-size: 27px;
    }

    .secondbody {
        padding: 178px 0% 50px 8%
    }

    .right {
        right: 20.5156249px;
    }

    .left {
        left: 21.3px;
    }


    .sidebar {
        font-size: 13px;
    }

    .fornavitemhover:hover + .languagecontainer, .languagecontainer:hover {
        height: calc(150px);}

    .artickethover:hover > .animwrapper> .forwaveanim 
    {
        top: -30px;
        transition: top 0.55s ease;
    }

    .artickethover:hover > .animwrapper> .bigforwaveanim 
    {
        top: -30px;
        transition: top 0.55s ease;
    }

    .langbeta {
        top: 12px;
    }

    .wrapnavitem:hover::before, .langbetatext:hover::before {
        height: 1px;
    }

    .wavewater {
        min-height: 40.8px;
    }

    .bigbtntriangleleft {
        --left: calc(20% + 0px);
        --right: calc(80% + 0px);
        height: 5px;
        border-left: var(--left) solid transparent;
        border-right: var(--right) solid transparent;
        border-bottom: 30px solid #e63338;

    }

    .bigbtntriangleright {
        /* border-right: 4.347826086956522vw solid transparent;
        border-left: 7.826086956521739vw solid transparent;
        border-bottom: 20px solid #e63338; */

    }

    .triangleleft {
        border-left: 40px solid transparent;
        border-right: 66px solid transparent;
    }

    .triangleright {
        border-right: 40px solid transparent;
        border-left: 66px solid transparent;
    }

    .triangle {
        border-bottom: 30px solid #e63338;
    }
    

    .wrapnavitem {
        
        margin-right: 45px;
        padding-top: 6px;
        padding-top: 3px;
        font-size: 17px;
        letter-spacing: 2px;
    }

    .icon {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid #e63338;
    }

    .mainbtn3container {
        padding: 19px 40px;
    }

    .mainbtn3 {
        font-size: 27px;
        letter-spacing: 3.6px;
    }
}

@media (min-width:1440px) {
    .icontext {
        font-size: 1.0416666667vw;
    }

    .salesymbol {
        margin: 0px 15px 0px 14px;
    }
}

@media (max-width: 1398px) {
    .bigbtntext{
        font-size: 20px;
        letter-spacing: .2px;
    }
}

@media (max-width:1350px) {
    .icons {
        padding-right: 5.9199999999%;
    }
}

@media (max-width: 1230px) {
    .icons{
        padding: 0;
    }
}

@media (max-width: 1217px) {
    .secondbody::before {display: none;}
}

@media (max-width: 1132px) {
    .icons {
        display: none;
    }

    .miniicons {
        display: block;
    }

    .miniicons > div > icon {
        display: flex;
    }

    .iconfirst, .iconsecond {
        padding-right: 20%;
        padding-bottom: 5%;
    }
}

@media (max-width:1130px) {
    .wrapnavitem {
        margin-right: 20px;
    }
}


@media (max-width:1000px) {
    .wrapnav {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 900px) {
    .lastitem {
        display: none;
    }

    .sectiontwoitem {
        width: 45%;
    }

    .sectiontwoimgwrapper {
        height: 22vw;
    }

    .lastsectiontwoline {
        display: flex;
    }
}



@media (max-width: 660px) {

    .mimgdiv {
        margin-left: 20%;
    }

    .sectiontwoline {
        display: block;
    }

    .sectiontwoitem {
        width: 100%;
    }

    .sectiontwoimgwrapper {
        height: auto;
    }

    .sectiontwoitem {
        margin-bottom: 12%;
    }

    .firstsectionleft {
        align-items: center;
    }

    .firstsectionitems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .maintitle {
        text-align: center;
    }

    .mainbtn {
        display: none;
    }

    .maintitle {
        width: 100vw;
        font-size: 9vw;
    }

    .miniicons {
        width: 67vw;
    }

    .miniicons > div {
        justify-content: space-between;
    }

    .secondbody {
        padding-top: 120px;
    }

    .salesymbol {
        margin: 0 18px;
    }

    .mimgdiv {
        width: 85vw;
        min-width: 320px;
    }

    .left {
        left: 5px;
    }

    .right {
        right: 5px;
    }

    .secondbody {
        padding-left: 0px;
        padding: 120px 22px;
        overflow: hidden;
    }

    .bigbtn {
        width: auto;
    }

    .iconfirst, .iconsecond {
        padding-right: 5%;
    
}

@media screen and (max-width: 400px) {
    .maintitle {
        font-size: 35px;
    }

    .miniicons {
        width: 60vw;
        min-width: 210px;
    }
}








